@import "tailwindcss";

@font-face {
  font-family: "Cabine Grotesk";
  src: url("./fonts/CabinetGrotesk-Variable.ttf") format("truetype");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-smaller: 20rem; /* 320px */
  --breakpoint-small: 37.4375rem; /* 599px */
  --breakpoint-ret: 37.5rem; /* 600px */
  --breakpoint-pot: 56.25rem; /* 900px */
  --breakpoint-det: 75rem; /* 1200px */
  --breakpoint-lal: 112.5rem; /* 1800px */
}

.animate-infinite-scroll {
  animation: infinite-scroll 10s linear infinite;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
span, p, a, button {
  font-family: "Cabine Grotesk", sans-serif;
}



body {
  background: #fff;
  font-family: var(--font-inter);
}

.back {
  background-image: linear-gradient(
    to left bottom,
    #ffffff,
    #ffffff,
    #f5f5f5,
    #4f39f71a,
    #4f39f71a,
    #fff,
    #4f39f71a,
    #4f39f71a,
    #ffffff
  );
}

.overflow-hidden {
  overflow: hidden;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.flex-shrink-0 {
  flex-shrink: 0;
}